/* .btn{
    display: flex;
    flex-direction: column-reverse;
} */

/* .car{
    width: 400px;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}

.bigCar{
    width: 600px;
    height: 600px;
    object-fit: contain;
}

.zoomCar{
    zoom: 2;
    object-fit: contain;
} */

/* .edit-input{
    border: none;
    background: transparent;
    color: #000;
} */

/* this is my commit */